.github-users {
  display: flex;
  justify-content: center;
}

.user-list {
  flex: 1;
  padding: 10px;
}

.user-details {
  flex: 1;
  padding: 10px;
  text-align: left;
}


.github-user {
  margin-top: 3rem;
}

.btn-refresh{
  width:250px;
  height: 3rem;
  font-size: 2rem;

}