.welcome {
    background-color: pink;
    border: 2px solid black;
}

.clock {
    display:flex;
    justify-content: center;
    
    h2{
        background: radial-gradient(circle, aqua, pink);
        border:2px solid black;
        padding:15px;
        font-size: 30px;
        width:fit-content;
    }
   
}